<header id="masthead" class="masthead" role="banner">
  <div class="container">
    <img src="https://www.bemidji.k12.mn.us/wp-content/uploads/2020/01/header_gold_small_2017.png" height="26px">
    <%- include breadcrumb %>
    <%- include userTools %>
  </div>
</header>
